/* GLOBAL STYLE */
* {
  box-sizing: border-box;
}
.container {
  max-width: 1096px;
  margin: 0 auto;
}
body {
  font-family: TS-Reg, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.cursor:hover {
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
  background-color: black;
  color: #f2f2f2;
  border: black;
}
h1 {
  font-family: TS-Med;
  font-size: 54px;
  font-weight: bold;

  line-height: 70px;
}
h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: bold;
  margin-bottom: 40px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
h4 {
  font-size: 24px;
  font-family: TS-Med;
  font-weight: bold;
}
/* HEADER STYLE */

header {
  height: 60px;
  margin: 10px auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: white;
  z-index: 2;
  position: sticky;
  top: 0px;
}
header i {
  font-size: 20px;
  font-weight: bold;
}
header > section {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.menu {
  display: flex;
  align-items: center;
}
.fields {
  margin-left: 12px;
  height: 40px;
  border-radius: 20px;
  padding: 10px 15px 0px 15px;
}
.fields:hover {
  cursor: pointer;
  margin-left: 12px;
  height: 40px;
  border-radius: 20px;
  padding: 10px 15px 0px 15px;
  background-color: #f2f2f2;
  color: black;
  border: #f2f2f2;
}
.login {
  margin-left: 12px;
  height: 40px;
  border-radius: 20px;
  padding: 0px 15px;
  background-color: black;
  color: white;
  border: black;
}
.login:hover {
  cursor: pointer;
  opacity: 70%;
}
.logo-img {
  width: 190px;
}
/* MAIN STYLE */

.title {
  margin-top: 20px;
  margin-bottom: 30px;
}
.title a {
  color: black;
}
.title > p {
  font-size: 14px;
}
.page {
  display: block;
  margin-bottom: 60px;
}
.block-nav {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.block-nav p {
  font-family: TS-Med, sans-serif;
}

.cursor {
  border: solid black 1px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;

  flex: 1;
}
.block-nav i {
  font-size: 25px;
}
.button i {
  font-size: 15px;
}
.navigation {
  display: flex;
  gap: 1px;

  max-width: 1096px;
  max-height: 435px;
}

.picture {
  width: 64%;
  height: 435px;
}
.pictures-block {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 44%;
  height: 435px;
}
.pictures-block div {
  height: 49.9%;
}

.img-1 {
  width: 100%;

  object-fit: cover;
}
.img-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-1:hover,
.img-2:hover {
  cursor: pointer;
  opacity: 80%;
}
.navigation > .picture {
  display: flex;
  position: relative;
}
.picture .button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.button-photos {
  height: 40px;
  border-radius: 20px;
  padding: 0px 15px;
  background-color: black;
  color: white;
  border: black;
}
.button-photos span {
  padding-left: 6px;
}
.button-photos:hover {
  cursor: pointer;
  background-color: #333333;
}
.country-city {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

.country-city a {
  font-family: TS-Reg;
  font-weight: normal;
  color: black;
  text-decoration: none;
}
.country-city a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #545454;
}

.voyage-but {
  margin-top: 20px;
  height: 50px;
  border-radius: 20px;
  padding: 0px 15px;
  background-color: black;
  color: white;
  border: black;
}
.voyage-but:hover {
  cursor: pointer;
  opacity: 80%;
}
.navigation-2 {
  display: flex;
  justify-content: space-between;
}
.sous-titre {
  width: 50%;
}
.sous-titre-2 {
  font-family: TS-Med, sans-serif;
  width: 430px;
  height: 476px;
}
.sous-titre-2 p {
  font-family: TS-Reg, sans-serif;
}
.sous-titre-2 > img {
  width: 430px;
  height: 190px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sous-titre-2 > div {
  padding: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #fe5d5d;
  height: 282px;
}
.sous-titre p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 100;
}
/* ---------------------------------------- */
.all-block {
  display: flex;

  margin-bottom: 60px;
  flex-wrap: nowrap;

  overflow: scroll;
}
.div-block-fix {
  height: 100%;
}
.block-fix {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  height: 100%;
}
.all-carrousels {
  gap: 20px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.carrousel-div-img {
  width: 100%;
  height: 70%;
  position: relative;
}

.carrousel {
  display: flex;

  flex-direction: column;

  width: calc(100% / 3.15);

  flex-shrink: 0;
}

.carrousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ---------------------------------- */
.all-block p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 100;
  width: 250px;
}
.carrousel :nth-child(2) {
  font-family: TS-Med;
  font-size: 18px;
  line-height: 22px;
}
.carrousel > :nth-child(3) {
  display: flex;
  max-width: 300px;
  gap: 3px;
  align-items: center;
}
.carrousel :nth-child(3) > span {
  font-family: TS-Reg;
  font-size: 12px;
  font-weight: normal;
  margin-left: 6px;
}
.carrousel :nth-child(4) {
  font-family: TS-Reg;
  font-size: 14px;
}

.all-block a {
  color: black;
}

.carrousel:hover {
  cursor: pointer;

  opacity: 70%;
}
.icon-trip-travel i {
  font-size: 30px;
}
.icon-trip-travel {
  height: 45px;
  width: 32px;
  bottom: 10px;
  left: 10px;

  position: absolute;
  background-color: #35e0a1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.carrousel .icon-trip-travel > span {
  font-size: 10px;
  font-weight: bold;
  font-family: TS-Med;
}

.carrousel > :nth-child(3) > i {
  font-size: 12px;
  color: #04a96c;
}
/* --------------------- */
.main-guide {
  margin-bottom: 60px;
  display: flex;
  gap: 22px;
}
.main-guide > div {
  width: calc(100% / 3);
  flex-shrink: 0;
}
.div-img {
  height: 70%;

  overflow: hidden;
  margin-bottom: 10px;
}

.img-guide {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
h5 {
  font-weight: bold;
  margin-bottom: 5px;
}
.main-guide span {
  font-size: 14px;
}
.autor {
  display: flex;
  gap: 6px;

  margin-top: 8px;
}
.img-autor {
  width: 20px;
  height: 20px;
}
.rond {
  border-radius: 50%;
}
footer {
  background-color: #f9f1ec;
  height: 156px;
  font-family: TS-Reg;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}
footer span {
  font-family: TS-Med;
  font-weight: bold;
}
footer div {
  display: flex;
  align-items: center;
}
footer img {
  width: 40px;
  background-color: #f9f1ec;
  margin-right: 15px;
}

.icon-hearts {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}
.icon-hearts:hover {
  background-color: #f2f2f2;
}
.icon-trip-travel > .choice {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0px;
}
.icon-menu-header {
  display: none;
}
/* 1184px, 1024px et 768px. */
@media (min-width: 1184px) {
  .hide {
    display: none;
  }
}
@media (max-width: 1183px) {
  .hide-2 {
    display: none;
  }
  .block-nav {
    flex-wrap: wrap;
  }
  .cursor {
    min-width: 238px;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .picture {
    height: 372px;
  }
  .pictures-block {
    width: 400px;
    height: 372px;
  }
  main,
  header {
    padding: 0px 20px;
  }
  .main-guide {
    flex-wrap: nowrap;
    overflow: scroll;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .carrousel {
    width: calc(100% / 2.5);
  }
  .cursor {
    min-width: 175px;
  }
  .picture {
    height: 275px;
  }
  .pictures-block {
    height: 275px;
  }
  main {
    padding: 0px 20px;
  }
  .hide-text {
    display: none;
  }
  .navigation-2 {
    display: block;
  }
  .sous-titre,
  .sous-titre-2 {
    width: 100%;
    height: auto;
  }
  .sous-titre {
    margin-bottom: 60px;
  }
  .sous-titre-2 {
    display: flex;
  }
  .sous-titre-2 > div {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
  }
  .sous-titre-2 > img {
    width: 50%;
    height: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  .main-guide {
    flex-wrap: nowrap;
    overflow: scroll;
  }
  .main-guide > div {
    width: calc(100% / 2.5);
  }
  .country-city,
  .country-city a {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 768px) {
  .hide-img {
    display: none;
  }
  .picture {
    width: 100%;
  }
  .sous-titre-2 {
    display: block;
  }
  .sous-titre-2 > img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
  }
  .sous-titre-2 > div {
    height: 100%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .all-block {
    display: flex;
    flex-direction: column;
  }
  .div-block-fix {
    display: block;
    width: 100%;

    margin-bottom: 10px;
  }
  .block-fix {
    width: 100%;
  }
  .block-fix p {
    width: 100%;
  }
  .carrousel {
    width: calc(100% / 1.5);
  }
  .icon-menu-header {
    display: flex;

    margin-left: 8px;
    height: 40px;
    border-radius: 20px;
    padding: 10px 15px 0px 15px;
  }
  .img {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
  }
  .icon-menu-header:hover {
    cursor: pointer;
    margin-left: 12px;
    height: 40px;
    border-radius: 20px;
    padding: 10px 15px 0px 15px;
    background-color: #f2f2f2;
    color: black;
    border: #f2f2f2;
  }
  .block-nav {
    flex-wrap: nowrap;
    overflow: scroll;
    height: 50px;
  }
  .cursor {
    min-width: 60px;
    flex: none;
    gap: 10px;
    align-items: center;
  }

  .main-guide {
    flex-wrap: nowrap;
    overflow: scroll;
  }
  .main-guide > div {
    width: calc(100% / 1.5);
  }

  .img img {
    width: 140px;
  }
  main {
    padding-right: 0px;
  }
  .navigation-2 {
    margin-top: 40px;
  }
  .last-padding {
    padding-right: 20px;
  }

  .navigation {
    padding-right: 2px;
  }
  h1 {
    font-size: 32px;
  }
  .sous-titre > p {
    font-size: 16px;
    line-height: 20px;
  }
  header {
    padding: 0px;
  }
  .fields:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-right: 30px;
  }
}
